<!DOCTYPE html>
<h1><%= @question.title %> </h1>
<p> <%= @question.description %> </p>


<% if @answer.errors.any? %>
<ul>
  <% @answer.errors.full_messages.each do |msg| %>
  <li> <%= msg %> </li>
  <% end %>
</ul>
<% end %>

<%= link_to "Edit", edit_question_path(@question) %>
<%= button_to "Delete", @question, :method=>:delete, :class=>:destroy %>


<%= form_for [@question,@answer] do |f| %>
<%= f.hidden_field :question_id, :value => @question.id %>
<%= f.text_area :answertext %>
<%= f.submit "Post" %>
<% end %>


  <ul>
    <% @question.answers.reverse.each do |answer| %>
      <li>
        <%= answer.answertext %>
        <% if answer.best? == true %>
          <b>(BEST)<b>
        <%end%>
      </li>
    <% end %>
  </ul>
